<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
     <link rel="shortcut icon" href="/static/media/favicon.ico">
    <title>识物</title>
    <style>
        body{
            background-color: beige;
        }
    </style>
</head>
<body>
<div id="login">
  <a href="/user/login" align="right" style="position:absolute;right:100px;top:20px;z-index:999;">登录</a>

</div>
<div style="text-align:center;">
     <h1>识物一下</h1>
    <input type="file"><select>
  <option value ="文字识别">文字识别</option>
  <option value ="动物识别">动物识别</option>
  <option value="植物识别">植物识别</option>

</select>
    <br>
<input type="submit" name="提交" id="">
</div>


</body>
</html>